<main>
  <p id="notice"></p> 
    <div class="container px-5 px-sm-0">
    <div class="row">

      <%= render 'list', books: @books %>


      <div class="col-md-8 offset-md-1">

        <h2>Book detail</h2>

        <table class="table">
          <tbody>

            <tr>
              <td><%= link_to user_path(@user.id) do %><%= image_tag @user.get_image %><br>
              <%= @user.name %><% end %></td>
              <td><%= link_to book_path do %><%= @book.title %><% end %></td>
              <td><%= @book.body %></td>
              <td><%= link_to "Edit", edit_book_path, class: "btn btn-sm btn-success edit_book_path" %></td>
              <td><% if @book.user == current_user %>
                  <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger destroy_book_path" %>
                  <% end %></td>
            </tr>

          </tbody>
        </table>
      </div>


    </div>
  </div>
</main>